@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row navbar-custom align-items-center py-3 d-flex justify-content-center" aria-labelledby="aspnetTitle">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <select id="inputSede" class="form-select">
                <option selected>Seleccionar Sede</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <input type="date" class="form-control" id="inputDate">
        </div>
        <div class="col-md-1 d-flex align-items-center justify-content-center">
            <button type="submit" class="btn rounded-5 button-style">Buscar</button>
        </div>
    </section>

    <div class="row">
        <section class="p-0">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@Url.Content("~/Content/imagenes/banner1.jpg")" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="@Url.Content("~/Content/imagenes/banner2.jpg")" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="@Url.Content("~/Content/imagenes/banner3.jpeg")" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="p-0">
            <h3 class="p-3 pt-5">PRÓXIMOS ESTRENOS</h3>
            <div id="movieCarousel" class="carousel slide" data-bs-interval="5000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 1">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 2">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 3">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 4">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 5">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 6">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 7">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 8">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 9">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 10">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="p-0">
            <h3 class="p-3 pt-5">PREVENTA</h3>
            <div id="movieCarousel" class="carousel slide" data-bs-interval="5000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 1">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 2">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 3">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 4">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 5">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 6">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 7">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 8">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 9">
                            </div>
                            <div class="col">
                                <img src="@Url.Content("~/Content/imagenes/pelicula1.jpeg")" class="d-block w-100" alt="Película 10">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </section>
    </div>
</main>